In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_path = ("./purchase_data.csv")

csv_df = pd.read_csv(csv_path)

In [3]:
#Total Number of Players
Total_Players =len(csv_df["SN"].value_counts())
Player_Count = pd.DataFrame({"Total Players":[Total_Players]})
Player_Count

   Total Players
0            576

In [4]:
Unique_Items = len(csv_df["Item ID"].unique())

Average_Purchase_Price = csv_df["Price"].mean()

Total_Number_of_Purchases = csv_df["Purchase ID"].count()

Total_Revenue = csv_df["Price"].sum()

# Create a Data Frame
Summary_df = pd.DataFrame({"Number of Unique Items":[Unique_Items],"Average Purchase Price":[Average_Purchase_Price],
                          "Total Number of Purchases":[Total_Number_of_Purchases],"Total Revenue":[Total_Revenue]})
# Give a Currency Format
Summary_df.style.format({'Average Purchase Price':"${:,.2f}",'Total Revenue':"${:,.2f}"})

In [5]:
Gender_stats = csv_df.groupby("Gender")

Total_Gender_Count = Gender_stats.nunique()["SN"]

Players_Percentage = Total_Gender_Count/ Total_Players * 100

Gender_Demographics = pd.DataFrame({"Players Percentage": Players_Percentage, "Total": Total_Gender_Count})

Gender_Demographics.index.name = "Gender"

Gender_Demographics.style.format({'Players Percentage':"${:,.2f}"})

In [6]:
# Purchase Count
Purchase_Count = Gender_stats["Purchase ID"].count()

# Average Purchase Price
Avegare_Purchase_Price = Gender_stats["Price"].mean()

# Average Purchase Total by Gender
Average_Purchase_Total = Gender_stats["Price"].sum()
Avg_Pur_per_Person = Average_Purchase_Total/Total_Gender_Count

# Create Data Frame
Gender_Demographics = pd.DataFrame({"Purchase Count": Purchase_Count, "Average Purchase Price": Average_Purchase_Price,
                                   "Average Purchase Value": Average_Purchase_Total, "Average Purchase Total per Person": Avg_Pur_per_Person})
# Give the index name
Gender_Demographics.index.name ="Gender"

# Currency Format
Gender_Demographics.style.format({"Average Purchase Value":"${:,.2f}","Average Purchase Price":"${:,.2f}","Average Purchase Total per Person":"${:,.2f}"})

In [7]:
# Establish bins for Age
age_bins =[0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
Group_Name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

csv_df["Age Group"] = pd.cut(csv_df["Age"],age_bins, labels = Group_Name)
csv_df

Age_Grouped = csv_df.groupby("Age Group")

# Count Total Players by Age
Total_Count_Age = Age_Grouped["SN"].nunique()

# Count Purchase by Age Group
Purchase_Count_Age = Age_Grouped["Purchase ID"].count()

# Average Purchase Price by Age Group
Average_Purchase_Price_Age = Age_Grouped["Price"].mean()

# Total Purchase Value by Age Group
Total_Purchase_Value = Age_Grouped["Price"].sum()

# Average Purchase Total per Person by Group_
Average_Purchase_per_Person_Age = Total_Purchase_Value/Total_Count_Age

# Create a Data Frame
Age_Demographics = pd.DataFrame({"Purchase Count": Purchase_Count_Age, "Average Purchase Price": Average_Purchase_Price_Age, 
                                "Total Purchase Value": Total_Purchase_Value, "Average Purchase Total per Person": Average_Purchase_per_Person_Age})
Age_Demographics.index.name = None

# Give Currency Format
Age_Demographics.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

In [8]:
# Group Purchase Data by Screen Name
Spender_Stats = csv_df.groupby("SN")

# Total Purchase by Name
Purchase_Count_Spender = Spender_Stats["Purchase ID"].count()

# The Average Purchase by Name
Average_Purchase_Price_Spender = Spender_Stats["Price"].mean()

# Calculate Total Purchase
Purchase_Total_Spender = Spender_Stats["Price"].sum() 

# Create a Data Frame
Top_Spenders = pd.DataFrame({"Purchase Count": Purchase_Count_Spender, "Average Purchase Price": Average_Purchase_Price_Spender,
                           "Total Purchase Value": Purchase_Total_Spender })

# Descending order
Formatted_Spenders = Top_Spenders.sort_values(["Total Purchase Value"], ascending=False).head()
Formatted_Spenders.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

In [17]:
# Create a new data frame 
Items = csv_df[["Item ID","Item Name","Price"]]

# Group the item data by Item ID and Name
Item_stats = Items.groupby(["Item ID","Item Name"])

# Purchase Count
Purchase_Count_Item = Item_stats["Price"].count()

# Purchase Value per Item
Purchase_Value = Item_stats["Price"].sum()

# Individual Item Price
Item_Price = Purchase_Value/Purchase_Count_Item

# Create Data Frame
Most_Popular_Items = pd.DataFrame({"Purchase Count": Purchase_Count_Item, "Item Price": Item_Price, 
                                   "Total Purchase Value": Purchase_Value})
# Sort in Descending order
Popular_Formatted = Most_Popular_Items.sort_values(["Purchase Count"], ascending=False).head()

# Currency Format
Popular_Formatted.style.format({"Total Purchase value":"${:,.2f}","Item Price":"${:,.2f}"})

In [20]:
# Take the Most Popular DataFrame and change the sorting to find Highest Total Purchase Value
Popular_Formatted = Most_Popular_Items.sort_values(["Total Purchase Value"], ascending=False).head()

# Currency Format
Popular_Formatted.style.format({"Total Purchase Value":"${:,.2f}","Item Price":"${:,.2f}"})

###  Observable Trends
     The biggest spending is between the ages of 18 and 26.
     Males make up the vast majority of purchasers at over 80%.
     Even the most popular item only has a purchase count of 14 out of 573 players which means that people are
     interested in a variety of items.